<div class="row">
  <div col-8>
    <div class="img">
      <img src="{{book.linkImg}}" alt="">
    </div>
    <div class="details">
      <div class="titulo">
        <h1>{{book.title}}</h1>
        <h2>{{book.author}}</h2>
        <div class="description">
          <p>{{book.description}}</p>
        </div>
      </div>
      <div class="row">
          <button class="btn btn-primary">Muestra gratis</button>
          <button class="btn btn-primary">comprar por {{book.price}}</button>
      </div>
    </div>
  </div>
</div>

