body {
    background-color: #eee;
}
.container {
    margin-left: 50px;
    margin-top: 60px;
    background: #f8f9fa;
}

.navbar-brand {
    color: #333;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}