  <!-- /*new navbar*/ -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/playstore_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Google Play
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a routerLink="home" class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item ">
          <a routerLink="new-App" class="nav-link" href="#">Add App </a>
        </li>
        <li class="nav-item">
          <a routerLink="new-movie" class="nav-link" href="#">Add Movie </a>
        </li>
        <li class="nav-item">
          <a routerLink="new-book" class="nav-link" href="#">Add Book </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container">
      <router-outlet></router-outlet>
      
    <!--<app-cmp></app-cmp>    
        <books-cmp></books-cmp>
        <movie-cmp></movie-cmp> -->
</div>

