    <div class="row">
        <h2 class="titulo">Books recommended</h2>
    </div>
    <div class="row"> 
        <h3 class="subtitulo">Topsellers y más</h3>        
    </div>
    <div class="row">
        <div *ngFor="let book of booksModel.libros" class="card" style="width: 15rem;" (click)="viewBookDetail(book)">
            <img class="card-img-top" src='{{book.linkImg}}' alt="Card image cap">
            <div  class="card-body" >
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
            </div>
            <div class="row justify-content-end">
                <span class="precio">L. {{book.price}}</span>
            </div>
        </div>  
    </div>
    <div class="container">
        <book-detail *ngIf="bookDetail" [book]='bookDetail'></book-detail>
    </div>
