<div class="row">
  <div col-8>
    <div class="img">
      <img src="{{movie.linkImg}}" alt="">
    </div>
      <div class="details">
        <div class="titulo">
          <h1>{{movie.title}}</h1>
          <h2>{{movie.gender}}</h2>
          <div class="description">
            <p>{{movie.description}}</p>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary">Alquilar</button>
          <button class="btn btn-primary">Comprar por {{movie.price}}</button>
        </div>
      </div>
  </div>
</div>